@font-face {
	font-family: 'NanumBarunGothic';
	font-style: noremal;
	src: url('./fonts/NanumBarunGothic.eot');
	src: url('./fonts/NanumBarunGothic.eot') format('embedded-opentype'),
	     url('./fonts/NanumBarunGothic.woff') format('woff'),
	     url('./fonts/NanumBarunGothic.ttf') format('truetype');
}
